.cluster-marker {
    color: #fff;
    background: #1978c8;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .map-container {
    width: 100%;
    height: 600px; /* Ensure map has a visible height */
    margin: 0 auto; /* Center the map if needed */
    border: 1px solid #ddd; /* Optional: Border for visualization */
  }
  
  